/* Color Palette
#67a7dcfc - dull blue
#0000CC rgba(10,22,195,1)- blue  
#806A89 rgba(128,106,137,1)- dark purple
#F7FC71 - Yellow
#C8AAEF - light purple
rgb(141, 70, 235) - dark purple
#D8DCFF - purple/white
#D9D0DE - grey/brown
#EAE7D7 - beige/white
#B58E5F - golden brown
#7C693E - tree brown
#E4E3C2 - warm olive
#E8D0D9 - soft pink with olive undertone
#474240 - Very dark grayish orange
#323031 - JET
rgb(210, 210, 210) - light olive
*/
/* Global overrides
   ================================================================ */

/* box sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* ----- end of  box sizing https://css-tricks.com/box-sizing/ ---- */

/* clearfix keeps following elements to come inside of floated elements */
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

html {

  /* makes the font size 10px in rem easy calculation 
  browser overall font-size 16px > 16 * .625 = 10px
  1.6 rem * 10px = 16px */
  /* Usually default font-size of the browser is 16px. Setting font-size: 100% will make 1rem = 16px. But it will make calculations a little difficult. A better way is to set font-size: 62.5%. Because 62.5% of 16px is 10px. Which makes 1rem = 10px.
  https://medium.com/code-better/css-units-for-font-size-px-em-rem-79f7e592bb97
  */
  font-size: 62.5%; /* 1em = 10px */
  color: #474747; /* OUTER SPACE */
  background-color: #EBF2FA; /* ANTI-FLASH WHITE */
}
/* catch all for overflow */
img, embed, object, video {
  max-width: 100%;
}

a, button a {
  font-weight: bold !important;
  color: inherit;
  text-decoration: none;
}



a:hover {
  color: rgb(49, 49, 184);
  background-color: rgb(220, 171, 49);
  /* rounded hover highlite */
  border-radius: 5px;
  text-decoration: none !important; 
}

html, body, main {
  /* 100% of height of viewport
  https://youtu.be/wBlBTO7mqoI?t=659 
    always put body 100vh, margin: 0 when starting project
  */
  min-height: 100vh;
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  /* center things */
  margin: 0 auto;
  text-align: center;
}
body {
  height: 100%;
  /* margin: 0 1rem; */
}

body {
  margin: 0;
  background: #1B2845;
  background-image: url('../asset/rockFlower.gif');
  filter: saturate(74%);
  color: #67a7dcfc; /* dull blue*/
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

}

/* ########## mobile friendly tap buttons links, 10 millimeters wide or half an inch - works out about 40 css px. ######## */
nav a, a img, a, button, input, textarea, .thumb, i {
  min-height: 48px;
  min-width: 48px;
}

#content {
  width: 100%;
  padding: 0px 0px 300px 0px;
  font-size: 1rem;
  font-weight: normal;

}

/* ######### nav bar ######## */
#zom-logo { /* movile first tap friendly */
  height: 48px;
  width: 48px;
}
/* background img for nav bar */
.zom-header-flex {
  background: #474747;
  background-image: url('https://media.giphy.com/media/zxpLFGndoTuHS/giphy.gif');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display:flex;
  align-items:center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 0.8rem;
}

/* background img for sign-in sheet */
#sign-in-only {
  background: #474747;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display:flex;
  align-items:center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 0.8rem;
  height: 100vh;
  align-items: start;
  width: 100vw;
}
.container #sign-in-only {
  /* over writing container styling */
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  display: flex;
  align-items: start;
}
/* ########## form format ######## */
#email, #password {
  position: relative;

}
.form {
  margin-top: 0em;
} 
.button {
  margin-top: 0.6rem;
}
#title {
  background: #02020e;
  /* background-image: url("../asset/titleBlack.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: rgba(120, 109, 96, 0.932);
  border: 1px solid rgb(41, 35, 21);
}

/* ::placeholder {
  color: red;
  opacity: 1; 
} */

#content {
  background-image: url("../asset/waterFloat.gif");
  color: rgba(120, 109, 96, 0.932);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: auto; /*  */
  border: 1px solid rgb(41, 35, 21);
}
/* https://codepen.io/chartjs/pen/bWeqxB */

/* #################### chartjs styling ############ */
.chart-container {
  position: relative;
  max-width: 800px;
  margin: auto;
}



#login-flex {
  display: flex;
  justify-content: center;
}

#div_email, #div_password {
  text-align: left;
  text-transform: capitalize;
}
/* form {
  overflow: hidden;
}
input {
  float: left;
  clear: both;
} */

#div_csrf_token {
  display: none;
}

.signout {
  color: rgb(255, 254, 254);
  text-decoration: none;
}
.signout:hover {
  color: #fff;
  background-color: #23272b !important;
  border-color: #1d2124 !important;
}

#no-margin-button {
  margin-top: 0rem !important;
}