{% extends "layout.html" %}

{% block content %}
  <article class="commentbox">
    <div id="post-list-wrap">
      <div>
        <form method="POST" action="{{url_for('edit_post', postid=post.id)}}">
          <input type="text" name="title" value="{{post.title}}" />
          <input type="text" name="content" value="{{post.content}}" />
          <button class="btn btn-dark" type="submit" id="submit">Edit Post</button>
        </form>
        <h4>{{post.title}}</h4>
        <h2>Date: {{post.starttimestamp.strftime("%Y-%m-%d, %A")}}</h2>
        <h2>Time start: {{post.starttimestamp.strftime("%X %p")}}</h2>
        <h2>Time end: {{post.endtimestamp.strftime("%X %p")}}</h2>
        <p>{{post.content}}</p>
      </div>
    </div>
  </article>
{% endblock %}

