{% extends "layout.html" %} 

{% block content %}
  {% if not posts %}
    <div><strong>There is no diary post currently!  Please create one!</strong></div>
  {% endif %}

  {% if posts %}
    <script>
      console.log("I want to put chart.js here!!")

    </script>
    <h3>Diary Posts:</h3>
    {% for post in posts %}
      <article class="commentbox">
        <div id="post-list-wrap">
          <div>
            <a href={{url_for('posts', id=post.id)}}>
              <h4>{{post.title}}</h4> <i class="fas fa-pencil-alt"></i>
            </a>
            <a href={{url_for('delete_post', postid=post.id)}}>
              <i class="fas fa-trash-alt"></i>
            </a>
            <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text={{post.title}} {{post.content}}">
              <i class="fab fa-twitter"></i>
            </a>
            <h2>Date: {{post.starttimestamp.strftime("%Y-%m-%d, %A")}}</h2>
            <h2>Time start: {{post.starttimestamp.strftime("%X %p")}}</h2>
            <h2>Time end: {{post.endtimestamp.strftime("%X %p")}}</h2>
          </div>
        </div>

      </article>
    {% endfor %}
  {% endif %}
  <button class="btn btn-dark"><a href="{{url_for('index')}}">Create Diary Post</a></button>
  
{% endblock %}