{% extends "layout.html" %} 
{% from 'macros.html' import render_field %}

{% block content %}

    {% if not current_user.is_authenticated %}

        <form method="POST" action="{{url_for('signin')}}" class="form" id="login-flex">
          {{ form.hidden_tag() }}
          <div>
          {% for field in form %}
            <div id="div_{{field.name}}">
              {{field.name}}
            </div>
            {{ render_field(field) }}
          {% endfor %}
          <button class="btn btn-dark button" type="submit" id="submit">Sign In</button>
        </form>
        <button class="btn btn-dark button"><a href="{{url_for('register')}}" title="Register">Register</a></button>

    {% endif %}

  {% if current_user.is_authenticated %}

    <form method="POST" action="{{url_for('post')}}" class="form">
      {{ postform.hidden_tag() }}
      {% for field in postform %}
        {{ render_field(field) }}
      {% endfor %}
      <button class="btn btn-dark" type="submit" id="submit">Post Diary</button>
    </form>
  {% endif %}
  
{% endblock %}